.container {
  height: 100vh;
  padding: 0 2rem;
  display: flex;
    align-items: center;
    justify-content: center;
}

.main {
  max-width: 1120px;
    min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
    border-radius: 8px;
}

.mainTitle {
  color: var(--blue-400);
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type=number] {
  -moz-appearance: textfield;
}

.label {
  color: var(--blue-400);
  font-weight: 700;
}

.inputsContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
    gap: 5px;
    position: relative;
}

.innerLabel {
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 20px;
  color: #ddd;
}

.equivalent {
  color: var(--blue-400);
  margin-top: 35px;
}

.input {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
    border-radius: 8px;
    border: transparent;
    background: var(--gray-500);
    color: var(--gray-100);
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #719ECE;
}

.ratioInput {
  margin-top: 20px;
  padding: 5px 0px 5px 0px;
}

/* .input:focus {
  border: #333;
} */

@media (max-width: 768px) {
  .inputsContainer {
    flex-direction: column;
    gap: 0px;
    }

        .equivalent {
          margin-top: 25px;
  }
}